{% extends 'include/homepage.html'%}
{% load static %}
{% block content %}

    <!-- LOADER -->
    <!-- <div id="slider_loading" class="slider_loading"></div> -->
    <!-- LOGO -->
{% include 'include/header.html' %}
    <!-- MAIN MENU -->
    <a id="mobile-menu" href="#">Menu</a>
    <nav id="main-menu">
        <ul>
            <li>
                <a class="ascensorLink ascensorLink0">Home</a>
            </li>
            <li>
                <a class="ascensorLink ascensorLink1">About Us</a>
            </li>
            <li>
                <a class="ascensorLink ascensorLink2">Artists</a>
            </li>
            <li>
                <a class="ascensorLink ascensorLink3">Faq</a>
            </li>
            <li>
                <a class="ascensorLink ascensorLink4">Contact</a>
            </li>
            <li>

                <a href="blog.html">Blog</a>
                
            </li>
           
        </ul>
        
    </nav>
    <!-- SUB MENU -->
    <nav id="sub-menu">
        <ul>
            <li>
                <h6>title</h6>
            </li>
        </ul>
    </nav>
    <!-- PAGES -->
    <section id="ascensorBuilding">
        <!-- FIRST PAGE -->
        <article>
            <!-- SLIDER -->
            <div id="slider_bg" class="slider_bg">
                <img src="{% static 'images/slide1.jpg' %}" alt="Image 1" />
                <img src="{% static 'images/slide2.jpg' %}" alt="Image 2" />
            </div>
            <div id="slider_content_wrapper" class="slider_content_wrapper">
                <div class="slider_content animated fadeInLeft showcontent" id="content1">
                    <h2>Welcome to Tattoo Studio</h2>
                </div>
                <div class="slider_content animated" id="content2">
                    <h2>Welcome to Tattoo Studio</h2>
                </div>
            </div>
            <div id="slider_next" class="slider_next"></div>
            <div id="slider_prev" class="slider_prev"></div>
        </article>
        <!-- ABOUT PAGE -->
        <article>
            <div class="page-content" data-stellar-ratio="2">
                <div class="content">
                    <h1>About Us</h1>
                    <p>{{ aboutus.description }}</p>
                    <div class="gallery">
                        <!-- PHOTO GALLERY -->
                        <div class="left-gallery">
                            <figure>
                                <a id="photos" href="#">
                                    <img src="{{ aboutus.logo_1.url }}" alt="">
                                </a>                                
                            </figure>
                        </div>
                        <!-- VIDEO GALLERY -->
                        <div class="right-gallery">
                            <figure>
                                <a id="videos" href="#">
                                    <img src="{{ aboutus.logo_2.url }}" alt="">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <hr/>
                    <!-- TESTIMONIALS -->
                    <h3>Testimonials</h3>
                    <div class="testimonials">
                        {% for reviews in review %}
                            <div class="testimonial-item animated">
                                <div class="item-left">
                                    <img src="{{ reviews.image_people.url }}" alt="" />
                                </div>
                                <div class="item-right">
                                    <p>{{ reviews.description }}</p>
                                    <p class="item-client">{{ reviews.name }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>
        <!-- ARTISTS PAGE -->
        <article>
            <div class="page-content-small" data-stellar-ratio="2">
                <div class="content">
                    <h1>Artists</h1>
                    <hr/>
                    <ul class="grid">
                        {% for artist in artists %}
                            <li>
                                <figure>
                                    <div>
                                        <img src="{{ artist.image_artist.url }}" alt="{{ artist.name }}">
                                    </div>
                                    <figcaption>
                                        <h4>{{ artist.name }}</h4>
                                        <span>{{ artist.description }}</span>
                                        <a id="first" href="#">Portfolio</a>
                                    </figcaption>
                                </figure>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </article>        
        <!-- FAQ PAGE -->
        <article>
            <div class="page-content-small" data-stellar-ratio="2">
                <div class="content">
                    <h1>FAQ</h1>
                    <hr/>
                    <div class="faq">
                        <div class="accordion-header">Vestibulum porta, tortor elementum ?</div>
                        <div class="accordion-content">
                            <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                        </div>
                        <div class="accordion-header">Est odio egestas justo ?</div>
                        <div class="accordion-content">
                            <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                        </div>
                        <div class="accordion-header">Tortor elementum luctus dictum ?</div>
                        <div class="accordion-content">
                            <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                        </div>
                        <div class="accordion-header">Dapidus dio egestas justo ?</div>
                        <div class="accordion-content">
                            <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                        </div>
                        <div class="accordion-header">Vestibulum porta, tortor elementum ?</div>
                        <div class="accordion-content">
                            <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                        </div>
                        <div class="accordion-header">Tortor elementum luctus dictum ?</div>
                        <div class="accordion-content">
                            <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                        </div>
                        <div class="accordion-header">Dapidus dio egestas justo ?</div>
                        <div class="accordion-content">
                            <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                        </div>
                        <div class="accordion-header">Vestibulum porta, tortor elementum ?</div>
                        <div class="accordion-content">
                            <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                        </div>
                        <div class="accordion-header">Vestibulum porta, tortor elementum ?</div>
                        <div class="accordion-content">
                            <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                        </div>
                        <div class="accordion-header">Est odio egestas justo ?</div>
                        <div class="accordion-content">
                            <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                        </div>
                        <div class="accordion-header">Tortor elementum luctus dictum ?</div>
                        <div class="accordion-content">
                            <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- CONTACT PAGE -->
        <article>
            <!-- GOOGLE MAP -->
            <div id="google-map" class="google-map"></div>
            <div class="page-content-small" data-stellar-ratio="2">
                <div class="content">
                    <h1>Contact Us</h1>
                    <!-- GOOGLE MAP FOR SMALL MOBILE DEVICES -->
                    <div id="mobile-map"></div>
                    <!-- CONTACT INFO -->
                    <div class="contact-info">
                        <p>
                            <span class="label">Address: Lorem str. New York 3483 USA</span>
                        </p>
                        <p>
                            <span class="label">Phone: 0800 123 121</span>
                        </p>
                        <p>
                            <span class="label">Fax: 0800 123 128</span>
                        </p>
                        <p>
                            <span class="label">E-Mail: info@company.com</span>
                        </p>
                        <!-- SOCIAL ICONS -->
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <img class="social-icon" src="{% static 'images/social-icons/facebook.png' %}" alt="Facebook" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="social-icon" src="{% static 'images/social-icons/twitter.png' %}" alt="Twitter" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="social-icon" src="{% static 'images/social-icons/flickr.png' %}" alt="Flickr" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="social-icon" src="{% static 'images/social-icons/pinterest.png' %}" alt="Pinterest" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="social-icon" src="{% static 'images/social-icons/vimeo.png' %}" alt="Vimeo" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="social-icon" src="{% static 'images/social-icons/youtube.png' %}" alt="YouTube" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr/>
                    <h3>Contact Form</h3>
                    <!-- CONTACT FORM -->
                    <form id="contactForm" action="processform.php" method="post">
                        <label>Your Name:</label>
                        <input type="text" name="senderName" id="senderName" required="required" maxlength="40" />
                        <label>Your Email:</label>
                        <input type="email" name="senderEmail" id="senderEmail" required="required" maxlength="50" />
                        <label>Your Message:</label>
                        <textarea name="message" id="message" required="required"></textarea>
                        <input type="submit" id="sendMessage" name="sendMessage" class="button" value="Send Message" />
                    </form>
                </div>
            </div>
        </article>
    </section>

{% endblock %}